.c-nav

	&__title
		border solid 1px black
		border-radius 20px
		list-style-type none
		height 80px
		width 40%
		line-height 80px
		margin 20px auto

	&__link
		display block
		text-align center
		text-decoration none
		font-size 180%
		font-weight 700
		color black