block content
	main
		#search-bar.search
			form(name='search', method='post', action='search/')
				fieldset
					legend Поиск абонента
					.search__ls
						label Лицевой счет:
						input(type='number', name='search[ls]')
					.search__abonent
						label Абонент:
						input(type='text', name='search[abonent]')
					.search__settlement
						label Населенный пункт:
						input(type='text', name='search[settlement]')
					.search__street
						label Улица:
						input(type='text', name='search[street]')
					.search__house
						label Дом:
						input(type='text', name='search[house]')
					.search__command
						input(type='submit')
